doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title USER SYSTEM - Beyond Design Systems

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/usersystem-logo.svg', alt='logo')
            
        // Masthead
        header.masthead
            .container
                .masthead-subheading “We need to move beyond a Design System only focusing on Components, Design Principles and Processes ... we need a <strong>USER SYSTEM</strong>, aligned with the <strong>CULTURE</strong>, that can be the glue that can get the digital tribe to form an <strong>astonishing DIGITAL CULTURE”</strong><br/> - <strong>EduardoX, Digital Expert, www.EduardoX.com</strong>
                .masthead-heading.text-uppercase Join the movement!
                a.btn.btn-primary.btn-xl.text-uppercase(href='https://www.linkedin.com/groups/9160574/') Join us on LinkedIn

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase WHAT and WHY
                .row
                    .col-md-12.text-center
                        div(width="320", height="240", class="video")
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qQaZD1QIWlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .row
                    .col-md-12
                        p.text-muted For many years I have asked myself the questions, why still today, so many corporates, do not understand the Power of Company Culture, the Agile Manifesto, the Motivational Factors? Why do they still believe it is Process first, Technology Second, and People last?
                        p.text-muted Doing my first website in 1998, which probably looked like spaghetti, I found my destiny in life, to create awesome products, that are state of the art from all angles, including ACCESSIBILITY.
                        p.text-muted Today, in 2022, I am defined as a "Digital Expert", I have lectured for big digital companies such as Red Hat, have been doing Design Systems, before it even became a term. Had the privilege to meet up with Brad Frost in the UK, for a DS event, and have interacted through the Meetup, Events I have been part of, with some of the most skilled and passionate people within Design Systems.
                        p.text-muted 24 years now and I still LOVE the craft, now even more than before, that Web Accessibility is actually becoming the default, as it should have always been.
                        p.text-muted For me a Design System represents so much more than just Components, Design Principles, and Technology, doing it right, it can be the glue that can get the digital tribe to form an astonishing DIGITAL CULTURE, the book I am realizing this year in Silicon Valley for the SVLLS event.
                        p.text-muted I have written so much about Design Systems in my coming book The Digital Culture, that it has become its own life, therefore I and my writing team has decided that this will become its own project, a book, first of all, where my community will have the opportunity to share their "Design Systems and beyond" stories.
                        p.text-muted People I talked to about the concept UserSystem know that it could also be a product, but first things first, that will be a future project, let us first finish the book, because it is missing.
                        p.text-muted Join me, on our first open mic event, to kick off the project, join the group on LinkedIn.
                .text-center
                    h2.section-heading.text-uppercase HOW
                .row.text-center
                    .col-md-4
                        img(class='responsive splash-padding  splash-border', src='assets/img/usersystem-book-cover.png', alt='User System book cover')
                        h4.my-3 User System the Book
                        p.text-muted
                            | Contribute, share your Design Systems and Beyond story.
                    .col-md-4
                        img(class='responsive splash-padding splash-border', src='assets/img/usersystem-meetup.jpg', alt='User System events')
                        h4.my-3 User System Events 
                        p.text-muted
                            | Share your knowledge, join the yearly summit, coming in October, Silicon Valley, USA and ONLINE of course.
                    .col-md-4
                        img(class='responsive splash-padding splash-border', src='assets/img/usersystem-tool.png', alt='User System events')
                        h4.my-3 User System the Tool
                        p.text-muted
                            | Yes, it could be done and it is needed, but first thing first, let us wrap up the book.

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase WHEN
                    h3.section-subheading.text-muted JOIN US on LinkedIn and we take it from there.
                .row
                    .col-md-12.text-center
                        a.btn.btn-primary.btn-xl.text-uppercase(href='https://www.linkedin.com/groups/9160574/') Join us on LinkedIn


        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
